#sidebar { visibility: hidden}
.aside-cta { visibility: visible; }
#interesting-tags  { visibility: visible; }
.module.question-stats { visibility: visible; }
.module.community-bulletin { display: none; } 
.module.sidebar-linked { visibility: visible; }
.module.sidebar-related { visibility: visible; }